cffi==1.17.1
cryptography==45.0.5
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==2.5.2
pandas==3.0.5
pycparser==2.22
PyMySQL==1.1.1
PyQt6==6.9.0
PyQt6-Qt6==6.9.0
PyQt6_sip==13.10.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
qt-material==2.17
six==1.17.0
